.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  @media (max-width: 768px) {
    // min-width: 100%;
  }
  .slides {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
    @media (max-width: 768px) {
      display: none;
    }

    .wrapper {
      max-width: 100%;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
      }

      .imag img {
        width: 100%;
        max-width: 500px;
        height: 628px;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 442px;
        height: 80px;
        margin-top: 1em;
        @media (max-width: 768px) {
        }
        h1 {
          width: auto;
          height: 50px;
          font-family: Open Sans;
          font-weight: 500;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          @media (max-width: 768px) {
          }
        }
        .btn {
          width: 120px;
          height: 40px;
          gap: 10px;
          padding: 10px 6px;
          border-radius: 30px;
          background-color: #525150;
          border: 0.5px solid #525150;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 768px) {
          }
          p {
            width: 102px;
            height: 19px;
            text-align: center;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #fff;
            @media (max-width: 768px) {
            }
          }
        }
      }
    }
  }

  .mobileSlides {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      gap: 15px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      max-width: 525px;
      width: 100%;
      gap: 10px;
      //   justify-content: space-between;
    }
    .wrapper {
      width: 100%;
      height: 100%;
      gap: 0px;
      display: flex;
      flex-direction: column;
      max-width: 198px;
      @media (max-width: 768px) {
        gap: 10px;
      }
      .imag {
        width: 100%;
        height: 294px;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        // width: 100%;
        height: 102px;
        @media (max-width: 768px) {
          gap: 5.62px;
          height: 85px;
        }
        h1 {
          width: 114px;
          height: 33px;
          font-family: Open Sans;
          font-weight: 500;
          font-size: 8px;
          line-height: 100%;
          letter-spacing: 0%;
          @media (max-width: 768px) {
            width: 197px;
            height: 57px;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
        .bt {
          width: 96px;
          border-radius: 14.16px;
          height: 22px;
          padding: 3px 5px;
          background-color: #525150;
          border: 1px solid #525150;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            width: 87px;
            height: 16px;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 10px;
            // line-height: 100%;
            // letter-spacing: 0%;
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }
}
