.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;
  margin: 0 auto;
  max-width: 1440px;
  .header {
    position: relative;
    width: 100%;
    height: 275px;
    opacity: 90%;
    padding-bottom: 3rem;
    @media (max-width: 768px) {
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0.5;
      @media (max-width: 768px) {
        position: absolute;
        z-index: 0;
        filter: blur(6px);
      }
    }
    .alignCenter {
      position: absolute;
      top: 50%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      gap: 41px;
      @media (max-width: 768px) {
        gap: 22px;
      }
      h1 {
        font-family: Roboto Serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        // text-align: center;
        @media (max-width: 768px) {
        }
      }
      p {
        width: 340px;
        height: 46px;
        font-family: Roboto Serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #1d1d1d;
        @media (max-width: 768px) {
          width: 271px;
          height: 32px;
          font-size: 14px;
        }
      }
    }
  }
  .icon {
    margin-left: 60px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .contentOne {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 20px 16px;
    }
    .check_icon {
      width: 27px;
      height: 23px;
    }
    .all {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        width: 19px;
        height: 22px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      .drop_down {
        height: 24px;
        width: 24px;
      }
    }
  }

  .delete_product_catalogue {
    display: flex;
    flex-direction: column;
    padding: 45px 60px 60px 60px;
    @media (max-width: 768px) {
      padding: 20px 16px;
    }
    .product_design {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 18px;
      @media (max-width: 768px) {
        display: none;
      }
      .product {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        @media (max-width: 768px) {
          display: none;
        }
        .imgHandle {
          width: 100%;
          height: 320px;
          @media (max-width: 768px) {
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
            @media (max-width: 768px) {
            }
          }
        }
        .downDesign {
          width: 100%;
          height: 161px;
          padding: 15px 10px 30px 10px;
          background-color: #f6f4f2;
          @media (max-width: 768px) {
          }
          .firstContent {
            display: flex;
            flex-direction: column;
            gap: 4px;
            @media (max-width: 768px) {
            }

            p {
              font-family: Open Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              @media (max-width: 768px) {
              }
            }

            h3 {
              font-family: Open Sans;
              font-weight: 500;
              font-size: 20px;
              line-height: 100%;
              @media (max-width: 768px) {
              }
            }
          }

          .last {
            display: flex;
            gap: 12px;
            flex-direction: column;
            @media (max-width: 768px) {
            }

            .btn {
              width: 96px;
              height: 30px;
              padding-top: 6px;
              padding-right: 10px;
              padding-bottom: 6px;
              padding-left: 10px;
              border-radius: 30px;
              background-color: #db5825;
              outline: none;
              border: 1px solid #db5825;
              @media (max-width: 768px) {
              }
              p {
                width: 76px;
                height: 19px;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
                @media (max-width: 768px) {
                }
              }
            }
          }
        }
      }
    }
    .mobileCard {
      display: none;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-content: space-between;
        gap: 32px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
