.content {
  // width: 100%;
  // margin: 0 auto;
  // padding-top: 2rem;
  height: 100%;
  max-width: 100%;
  // max-width: 1440px;
  margin-top: 2rem;
  padding-bottom: 0px 0px 2.5rem 0px;
  @media (max-width: 768px) {
  }

  .wrapper {
    @media (max-width: 768px) {
    }
    p {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 4%;
      @media (max-width: 768px) {
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
        line-height: 48px;
        letter-spacing: 4%;
      }
    }
    .product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 12px;
      padding-bottom: 1em;
      width: 100%;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .mobileCard {
      display: none;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}
