.content {
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  // padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 100%;
  max-width: 1440px;
  padding-bottom: 3rem;
  @media (max-width: 768px) {
    display: none;

  }
  p {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    @media (max-width: 768px) {
      font-family: Poppins;
      font-weight: 600;
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 4%;
      width: 169px;
      height: 48px;
    }
  }
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding-bottom: 1em;
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
