.content {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  .header {
    width: 1440px;
    max-width: 100%;
    height: 138px;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;

    h1 {
      font-family: Roboto Serif;
      width: 716px;
      height: 96px;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 4%;
      text-align: center; // Uncommented and enabled
      display: flex;
      align-items: center;
      justify-content: center;
      //   text-align: center;
      //   text-transform: capitalize;
    }
  }
  .container {
    display: flex;
    // align-items: center;
    // justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    width: 100%;

    .img {
      width: 100%;
      height: 100%;
      position: relative;
      .imag {
        position: relative;
        width: 100%;
        height: 458px;
        object-fit: cover;
        border-radius: 12px;
      }
      .btns {
        position: absolute;
        top: 80%;
        display: flex;
        transform: translateX(-50%);
        left: 50%;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background-color: #ffffffcc;
        padding: 6px 7px 6px 7px;
        border-radius: 30px;
        box-shadow: #525150;

        .btnOne {
          width: 111px;
          height: 38px;
          border-radius: 30px;
          border: 1px solid #ffffffcc;

          &:hover {
            background-color: #525150;
            border: 0px;
            outline: none;
          }

          p {
            font-family: Open Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #181817;
            &:hover {
              color: #ffffff;
            }
          }
        }

        .btnTwo {
          width: 111px;
          height: 38px;
          border-radius: 30px;
          border: 1px solid #ffffffcc;

          &:hover {
            background-color: #525150;
            border: 0px;
            outline: none;
          }

          p {
            font-family: Open Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #181817;
            &:hover {
              color: #ffffff;
            }
          }
        }
        .btnThree {
          width: 111px;
          height: 38px;
          border-radius: 30px;
          border: 1px solid #ffffffcc;

          &:hover {
            background-color: #525150;
            border: 0px;

            outline: none;
          }

          p {
            font-family: Open Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #181817;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

    .product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 26px;

      padding-bottom: 1rem;
      .content {
        width: 100%;
        height: 100%;
        .imag {
          width: 100%;
          height: 320px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0px 0px;
          }
        }

        .downwardDesign {
          width: 100%;
          height: 161px;
          background-color: #fafafa;
          display: flex;
          gap: 4px;
          flex-direction: column;
          padding: 10px 0px 20px 10px;
          border-radius: 0px 0px 8px 8px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 2px;
            h1 {
              width: 160px;
              height: 25px;
              font-family: Open Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            .naira {
              width: 160px;
              height: 25px;
              font-family: Open Sans;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }
          .btnSpace {
            display: flex;
            gap: 12px;
            .btn {
              width: 91px;
              height: 30px;
              gap: 10px;
              padding-top: 6px;
              padding-right: 10px;
              padding-bottom: 6px;
              padding-left: 10px;
              border-radius: 30px;
              border: 0.5px solid #db5825;

              p {
                width: 71px;
                height: 19px;

                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #db5825;
              }
            }
            .btnRed {
              width: 96px;
              height: 30px;
              gap: 10px;
              padding-top: 6px;
              padding-right: 10px;
              padding-bottom: 6px;
              padding-left: 10px;
              border-radius: 30px;
              border: #db5825;
              background-color: #db5825;
              p {
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .slides {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 8px;

      .wrapper {
        width: 100%;
        height: 100%;
        gap: 22px;
        display: flex;
        flex-direction: column;
        .imag {
          width: 100%;
          height: 628px;
          img {
            width: 90%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 100%;
          height: 80px;
          h1 {
            width: 422px;
            height: 50px;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
          }
          .btn {
            width: 120px;
            height: 40px;
            gap: 10px;
            padding-top: 6px;
            padding-right: 10px;
            padding-bottom: 6px;
            padding-left: 10px;
            border-radius: 30px;
            background-color: #525150;
            border: 0.5px solid #525150;
            outline: none;
            p {
              width: 102px;
              height: 19px;

              font-family: Open Sans;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
