.content {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  max-width: 100%;
  // padding-bottom: 3;
  @media (max-width: 768px) {
  }
  .header {
    width: 100%;
    max-width: 100%;
    height: 138px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      // display: block;
      padding: 16px;
    }

    h1 {
      font-family: Roboto Serif;
      width: 716px;
      height: 96px;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 4%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        max-width: 327px;
        height: 52px;
        font-size: 25px;
        line-height: 26px;
        letter-spacing: 4%;
        text-align: center;
      }
    }
  }
  .container {
    display: flex;

    padding-left: 60px;
    padding-right: 60px;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 0px 16px;
    }

    .img {
      width: 100%;
      height: 100%;
      position: relative;
      @media (max-width: 768px) {
      }
      .imag {
        position: relative;
        width: 100%;
        height: 458px;
        object-fit: cover;
        border-radius: 12px;
        // overflow: 1;
        @media (max-width: 768px) {
          height: 124px;
          border-radius: 3.25px;
        }
      }
      .btns {
        position: absolute;
        top: 80%;
        display: flex;
        transform: translateX(-50%);
        left: 50%;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background-color: #ffffffcc;
        padding: 6px 7px 6px 7px;
        border-radius: 30px;
        box-shadow: #525150;
        @media (max-width: 768px) {
          top: 70px;
          padding: 2.4px 4.2px 2.4px 4.2px;
          width: 202px;
          gap: 6px;
        }

        .btnOne,
        .btnTwo,
        .btnThree {
          width: 111px;
          height: 38px;
          border-radius: 30px;
          border: 1px solid #ffffffcc;
          transition: all 0.3s ease;

          @media (max-width: 768px) {
            width: 68px;
            height: 24px;
            border-radius: 18px;
          }

          &:hover {
            background-color: #525150;
            border: 0px;
            color: #fff;

            p {
              color: #fff !important;
            }
          }

          p {
            font-family: "Open Sans";
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #181817;

            @media (max-width: 768px) {
              font-size: 8px;
            }
          }
        }
      }
    }

    .product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 26px;
      padding-bottom: 1rem;
      @media (max-width: 768px) {
        display: none;
      }

      .content {
        width: 100%;
        height: 100%;

        .imag {
          width: 100%;
          height: 320px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0px 0px;
          }
        }

        .downwardDesign {
          width: 100%;
          height: 161px;
          background-color: #fafafa;
          display: flex;
          gap: 4px;
          flex-direction: column;
          padding: 10px 0px 20px 10px;
          border-radius: 0px 0px 8px 8px;

          .text {
            display: flex;
            flex-direction: column;
            gap: 2px;

            p {
              width: 160px;
              height: 25px;
              font-family: Open Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }

            .naira {
              width: 160px;
              height: 25px;
              font-family: Open Sans;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }

          .btnSpace {
            display: flex;
            gap: 12px;
            align-items: center;
            .btn {
              // width: 91px;
              // height: 30px;
              gap: 10px;
              padding: 6px 10px;
              border-radius: 30px;
              border: 0.5px solid #db5825;

              p {
                width: 71px;
                height: 19px;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #db5825;
              }
            }
            .btnRed {
              width: 96px;
              height: 30px;
              gap: 10px;
              padding: 6px 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 30px;
              border: 1px solid #db5825;
              background-color: #db5825;

              p {
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .mobileProduct {
      display: none;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        width: 100%;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 0;

        .wrapper {
          width: 100%;
          height: 87px;
          img {
            width: 92px;
            height: 100%;
            object-fit: cover;
            border-radius: 3.26px 3.26px 0px 0px;
          }
        }
        .txtContent {
          width: 92px;
          background-color: #fafafa;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 0.25em;
          gap: 0px;
          padding-bottom: 0.5em;
          border-radius: 0px 0px 2.18px 2.18px;
          padding-left: 2.7px;
          .upTxt {
            width: 100%;
            margin: 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 2px;

            h6 {
              font-family: Open Sans;
              font-weight: 400;
              font-size: 10px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            p {
              font-family: Open Sans;
              font-weight: 700;
              font-size: 8px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #db5825;
            }
          }
          .button {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 2px;

            .btnView {
              display: flex;
              gap: 3.26px;
              align-items: center;
              .btn {
                width: 39px;
                height: 12px;
                border-radius: 8.16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                border: none;

                p {
                  margin: 0;
                  font-size: 6px;
                  font-family: "Open Sans", sans-serif;
                  font-weight: 500;
                  text-align: center;
                }
              }
              .btnAdd {
                width: 37px;
                height: 12px;
                outline: none;
                border: 0.27px solid #db5825;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8.16px;
                padding: 2px;
                background-color: #db5825;
                p {
                  width: 33px;
                  height: 8px;
                  font-family: Open Sans;
                  font-weight: 500;
                  font-size: 6px;
                  color: #ffffff;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
