.wrapper {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    padding: 0px 20px;
    margin-bottom: 2rem;
  }
  .checkOut {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 768px) {
      gap: 20px;
      margin-bottom: 2em;
    }
    p {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      @media (max-width: 768px) {
        font-family: Roboto Serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0%;
      }
    }
  }
  .tableGrid {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
    height: 438px;
    @media (max-width: 768px) {
      display: none;
    }
    .row {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .header {
      padding: 14px 18px 14px 18px;
      height: 75px;
      background-color: #fafafa;
      .product {
        padding: 10px;
        p {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          //   text-align: center;
          //   vertical-align: middle;
        }
      }
      .size {
        padding: 10px;
        p {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          //   text-align: center;
          //   vertical-align: middle;
        }
      }
      .quantity {
        padding: 10px;
        p {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          //   text-align: center;
          //   vertical-align: middle;
        }
      }
      .price {
        padding: 10px;
        p {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          //   text-align: center;
          //   vertical-align: middle;
        }
      }
    }
    .mapClass {
      .map_row {
        padding: 14px 18px 14px 18px;
        box-shadow: 0px 4px 4px 0px #0000000d;
        height: 100px;
        gap: 10px;
        background-color: #fff;
        .flx {
          display: flex;
          align-items: center;
          gap: 7px;
          p {
            font-family: Open Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            font-family: Open Sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #7a7a7a;
          }
        }
        .btns {
          display: flex;
          align-items: center;
          width: 84px;
          height: 28px;
          padding-top: 8px;
          padding-right: 19px;
          padding-bottom: 8px;
          padding-left: 19px;
          gap: 7px;
          border-radius: 9px;
          background-color: #ebebeb;
          .minus {
            display: flex;
            align-items: center;
          }
          .plus {
            display: flex;
            align-items: center;
          }
        }
        .price {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          //   text-align: center;
          //   vertical-align: middle;
          color: #7a7a7a;
        }
      }
    }
  }
  .thirdRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 202px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      display: none;
    }
    .headers {
      display: flex;
      padding: 10px;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;

      p {
        font-family: Open Sans;
        font-weight: 600;
        // font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
    .modal {
      padding: 14px 18px 18px 14px;
      width: 397px;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 3px 4px 0px #0000000d;
      margin-bottom: 20px;

      gap: 12px;
      .space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #8e8e8e;
        }
        .dark {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000;
        }
      }
      .btn {
        width: 361px;
        height: 56px;
        padding-top: 16px;
        padding-right: 48px;
        padding-bottom: 16px;
        padding-left: 48px;
        // gap: 10px;
        border-radius: 4px;
        background-color: #db5825;
        border: 0.5px solid #db5825;
        p {
          font-family: Open Sans;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          color: #fafafa;
        }
      }
    }
  }
  .mobileProd {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin-bottom: 1em;
    }

    .cover {
      display: flex;
      flex-direction: column;
      gap: 6px;
      // padding: 8px 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #e7e7e7;
      // height: 100%;
      // width: 100%;
      // max-width: 392px;

      .imgContent {
        display: flex;
        gap: 12px;
        align-items: center;
        width: 100%;
        max-width: 344px;
        height: 41px;
        .para {
          display: flex;
          justify-content: space-between;

          .txt {
            display: flex;
            gap: 6px;
            flex-direction: column;
            width: 120px;
            height: 39px;

            .name {
              height: 14px;
              font-family: Open Sans;
              font-weight: 500;
              font-size: 10px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            .price {
              height: 19px;
              font-family: Open Sans;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #7a7a7a;
            }
          }
        }
      }
      .btnAmount {
        display: flex;
        width: 100%;
        max-width: 344px;
        height: 29px;
        justify-content: space-between;
        align-items: center;
        .size {
          display: flex;
          padding: 6.24px;
          gap: 6.24px;
          color: 6.24px;
          border-radius: 10px;
          width: 63px;
          height: 30px;
          background-color: #f8f8f8;
          align-items: center;
          p {
            font-family: Open Sans;
            font-weight: 700;
            font-size: 9.98px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #7a7a7a;
          }
        }
        .sizeChange {
          display: flex;
          gap: 14.24px;
          padding: 8.5px 19px;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 28px;
          background-color: #db5825;
          color: #f1f1f1;
          p {
            width: 8.75px;
          }
        }
      }
    }
  }
  .calculationBtn {
    padding: 21px 6px;
    width: 100%;
    height: 202px;
    box-shadow: 0px 3px 4px 0px #0000000d;
    display: flex;
    gap: 12px;
    flex-direction: column;
    .amt {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      .btnSubmit {
        padding: 16px 48px;
        width: 100%;
        height: 56px;
        border-radius: 4px;
        background-color: #db5825;
        border: 1px solid #db5825;
        p {
          font-family: Open Sans;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          color: #fafafa;
        }
      }
    }
  }
}
