.content {
  width: 100%;
  padding-bottom: 6rem;
  .delete_product_catalogue {
    display: flex;
    flex-direction: column;
    padding: 45px 60px 60px 60px;
    @media (max-width: 768px) {
      padding: 20px 16px;
    }
    .product_design {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 18px;
      @media (max-width: 768px) {
        justify-content: space-between;
      }

      .product {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        @media (max-width: 768px) {
          display: none;
        }
        .imgHandle {
          width: 100%;
          height: 320px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
          }
        }
        .downDesign {
          width: 100%;
          height: 161px;
          padding: 15px 10px 30px 10px;
          background-color: #f6f4f2;
          .firstContent {
            display: flex;
            flex-direction: column;
            gap: 4px;

            p {
              font-family: Open Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
            }

            h3 {
              font-family: Open Sans;
              font-weight: 500;
              font-size: 20px;
              line-height: 100%;
            }
          }

          .last {
            display: flex;
            gap: 12px;
            flex-direction: column;

            .btn {
              width: 96px;
              height: 30px;
              padding-top: 6px;
              padding-right: 10px;
              padding-bottom: 6px;
              padding-left: 10px;
              border-radius: 30px;
              background-color: #db5825;
              outline: none;
              border: 1px solid #db5825;
              p {
                width: 76px;
                height: 19px;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
              }
            }
          }
        }
      }
      .mobileProduct {
        display: none;
        @media (max-width: 768px) {
          width: 100%;
          height: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          border-radius: 2.18px;
        }
        .imgHandle {
          width: 100%;
          height: 87px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .downDesign {
          width: 100%;
          height: auto;
          padding: 0.25px 0.25px 0px 0.25px;
          background-color: #f6f4f2;
          .MobileContent {
            width: auto;
            height: 25px;
            .prod {
              font-family: Open Sans;
              font-weight: 400;
              font-size: 10px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            .currency {
              font-family: Open Sans;
              font-weight: 700;
              font-size: 8px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #db5825;
            }
          }
          .last {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            gap: 3.26px;
            .btnSpace {
              display: flex;
              gap: 3.26px;
              align-items: center;
              .btn {
                width: 39px;
                height: 12px;
                gap: 2.72px;
                border-radius: 8.16px;
                padding: 2px;
                border: 0.27px solid #000000;
                p {
                  font-family: Open Sans;
                  font-weight: 500;
                  font-size: 6px;
                  line-height: 100%;
                  letter-spacing: 0%;
                }
              }
              .btnRed {
                width: 37px;
                height: 12px;
                gap: 2.72px;
                border-radius: 8.16px;
                padding: 2px;
                border: 0.27px solid #db5825;
                background-color: #db5825;
                p {
                  width: 33px;
                  height: 8px;
                  font-family: Open Sans;
                  font-weight: 500;
                  font-size: 6px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
