.content {
  width: 100%;
  padding-bottom: 6rem;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding-bottom: 2rem;
  }
  .delete_product_catalogue {
    display: flex;
    flex-direction: column;
    padding: 45px 60px 60px 60px;
    @media (max-width: 768px) {
      padding: 20px 16px;
    }
    .product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 12px;
      padding-bottom: 1em;
      width: 100%;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .mobileCard {
      display: none;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-content: space-between;
        gap: 5px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
